.container {
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	align-content: center;
}

.item {
	flex-basis: <100%> | auto;
}

.navbar {
	width: 850px;
	position: relative;
	left: 660px;
	top:-200px;
}




body {

	background-color: blue;
}


.banner {

	height: 300px;
	width: 1500px;

}

.profilePic {
	height: 200px;
}
